# .dockerignore

# Исключаем виртуальное окружение
.venv/
venv/
__pycache__/

# Исключаем файлы Git
.git/
.gitignore

# Исключаем файлы IDE
.vscode/
.idea/

# Исключаем локальную базу данных (мы будем монтировать ее как volume)
debts.db